# Temporary directories
*/tmp/
*/temp/
*/cache/
*/__pycache__/

# Sensitive files
*.secret
*.key
*.hist
*token*
*password*
*lock*
*identity*

# Temporary files
*.tmp
*.swp
*.bkp

# Other files
*catppuccin-mocha.conf
*catppuccin-mocha
*catppuccin.muttrc
*autoconfig.yml
*/bookmarks/
*/catppuccin/
*/greasemonkey/
*/qsettings/
*/quickmarks/
